table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 5px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: grey;
  color: white;
}

table tr.flood-date {
  background-color: #dc3545;
  color: #fff;
}

table tr.flood-date:hover {
  background-color: #a3001e;
}
